:root {
    --corpo: #202020;
    --botoes: #0f0f0f;
    --botoes-hover: #303030;
    --container: #F2CB05;
    --header: #0f0f0f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--corpo);
    color: white;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/*==== Cabeçalho ====*/
header {
    background-color: var(--header);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 20px;
    padding: 20px;
    color: white;
}

header img {
    height: 80px;
    max-width: 100%;
}

header h1 {
    font-size: 35px;
}

/*==== Parte Principal ====*/
.container {
    background-color: var(--container);
    color: #0f0f0f;
    max-width: 90%;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    font-size: 20px;
    text-align: center;
}

.botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45%;
    width: 100%;
    gap: 30px;
}

.botao-ind{
    padding: 5px;
    width: 10vw;
    background-color: var(--botoes);
    color: white;
    font-size: 0.8em;
    border: solid 1px var(--botoes);
    border-radius: 10px;
    cursor: pointer;
}

.botoes button{
    padding: 20px;
    width: 10vw;
    background-color: var(--botoes);
    color: white;
    font-size: 1em;
    border: solid 1px var(--botoes);
    border-radius: 10px;
    cursor: pointer;
}

.botoes button:hover{
    background-color: var(--botoes-hover);
    border: solid 1px var(--botoes-hover);
}

/*==== Footer ====*/
footer{
    background-color: var(--header);
    color: var(--letras-brancas);
    display: flex;
    padding: 15px;
    font-size: 2em;
    align-items: center;
    justify-content: center;
}

footer img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}