:root {
    --corpo: #202020;
    --botoes: #0f0f0f;
    --botoes-hover: #303030;
    --container: #F2CB05;
    --header: #0f0f0f;
    --letras-brancas: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--corpo);
    color: white;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/*==== Cabeçalho ====*/
header {
    background-color: var(--header);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 20px;
    padding: 20px;
    color: white;
}

header img {
    height: 80px;
    max-width: 100%;
}

header h1 {
    font-size: 35px;
}

/*== Menu ==*/
#menu{
    width: 45px;
    height: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 5%; 
}

.menu-bar{
    display: flex;
    flex-direction: column;
    width: 100px;
    gap: 8px;
}

.bar{
    width: 100%;
    height: 5px;
    background-color: var(--letras-brancas);
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1{
    transform: translateY(-4px);
}

#bar3{
    transform: translateY(4px);
}

.nav-prim{
    transition: 0.3s ease;
    display: none;
}

.nav-prim ul{
    padding: 0 22px;
}

.nav-prim li{
    list-style: none;
    padding: 12px 0;
}

.nav-prim li a{
    color: var(--letras-brancas);
    font-size: 20px;
    text-decoration: none;
}

/*==== Parte Principal ====*/
.container {
    background-color: var(--container);
    color: #0f0f0f;
    max-width: 90%;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    font-size: 20px;
    text-align: center;
}

.botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45%;
    width: 100%;
    gap: 30px;
}

.botao-ind{
    padding: 5px;
    width: 10vw;
    background-color: var(--botoes);
    color: white;
    font-size: 0.8em;
    border: solid 1px var(--botoes);
    border-radius: 10px;
    cursor: pointer;
}

.botoes button{
    padding: 20px;
    width: 10vw;
    background-color: var(--botoes);
    color: white;
    font-size: 1em;
    border: solid 1px var(--botoes);
    border-radius: 10px;
    cursor: pointer;
}

.botoes button:hover{
    background-color: var(--botoes-hover);
    border: solid 1px var(--botoes-hover);
}

/*==== Arquivos ====*/
.arquivos{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 20%;
    margin-bottom: 20px;
}

.arquivos a{
    padding: 1%;
    color: white;
    background-color: var(--botoes);
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.5em;
}

.arquivos a:hover{
    background-color: var(--botoes-hover);
}

/*==== Footer ====*/
footer{
    background-color: var(--header);
    color: var(--letras-brancas);
    display: flex;
    padding: 15px;
    font-size: 2em;
    align-items: center;
    justify-content: center;
}

footer img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}