*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #202020;
    color: white;
}

.recepcao{
    height: 100vh;
    display: flex;
    margin-bottom: 10px;
}

.recepcao img{
    width: 50%;
}

.recepcao a{
    padding: 20px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    background-color: #0f0f0f;
    margin-top: 10px;
}

#container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: #F2CB05;
    padding: 30px;
    max-width: 1500px;
    width: 90%;
    border-radius: 10px;
    margin: auto;
}

#container a{
    padding: 20px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    background-color: #0f0f0f;
}

#container a:hover{
    background-color: #303030;
    transition: all 300ms;
    transform: scale(1.1);
}