:root{
    --corpo: #202020;
    --botoes: #0f0f0f;
    --botoes-hover: #303030;
    --container: #F2CB05;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--corpo);
    color: white;
}

.recepcao{
    height: 100vh;
    display: flex;
    margin-bottom: 10px;
}

.recepcao img{
    width: 50%;
}

.recepcao a{
    padding: 20px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    background-color: var(--botoes);
    margin-top: 10px;
}

#container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: var(--container);
    padding: 30px;
    max-width: 1500px;
    width: 90vw;
    height: 90vh;
    border-radius: 10px;
    margin: auto;
    margin-top: 100px;
}

#container a{
    padding: 20px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    background-color: var(--botoes);
}

#container a:hover{
    background-color: var(--botoes-hover);
    transition: all 300ms;
    transform: scale(1.1);
}