*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(32, 32, 32);
    color: white;
}

/*====Cabeçario====*/
header{
    background-color: rgb(15, 15, 15);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    color: white;
    margin-bottom: 20px;
}

header img{
    height: 20vh;
}

header h1{
    text-align: center;
    margin: 20px;
    font-size: 20pt;
}

/*====Parte Principal====*/
.container{
    background-color: #F2CB05;
    color: #0f0f0f;
    max-width: 1000px;
    height: 70vh;
    margin: auto;
    border-radius: 15px;
    font-size: 18pt;
}